@keyframes highlight {
    from {
        color: inherit;
    }
    to {
        color: red; 
    }
  }
.selected {
    animation: highlight .5s ease-out forwards;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
    padding: 0 5px;
}
ul {
    list-style-type: none;
    padding-left: 20px;
}
.center-vert {
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes greenBorder {
    from {
        border-color: inherit;
    }
    to {
        border-color: green; 
        color: green;
    }
  }
.surplus {
    animation: greenBorder 1s ease-out forwards;
}
@keyframes redBorder {
    from {
        border-color: inherit;
    }
    to {
        border-color: red; 
        color: red;
    }
  }
.deficit {
    animation: redBorder 1s ease-out forwards;
}
